#body
  %pre
    %em
      %strong Author's note:

      I've recently become fascinated by the idea of creating art that destroys
      itself when consumed. For example, digital albums that remove themselves
      from their web servers after being downloaded once, computer programs that
      slowly corrupt themselves, etc.
      %br

      This is the first project I've completed with this goal in mind.
      These poems, which are meditations on disintegration, will slowly be
      destroyed by each person who reads them, one character at a time.

      %br

      I have deleted the only copy of these poems in order to allow you
      to take part in truly destroying them.

  %h4 Disintegrations
  = @project.body.gsub("\n", "<br>").html_safe
  %br
    &nbsp;
  %br
    &nbsp;
  %p
    = link_to "Bryan Woods", "http://twitter.com/bryanwoods"
    is a computer programmer from Brooklyn, New York who is slowly
    %br
    working on a collection of personal essays.
